'context-menu':
  'atom-text-editor': [
    {
      'label': 'Show Usages'
      'command': 'python-tools:show-usages'
    },
    {
      'label': 'Goto Definitions'
      'command': 'python-tools:goto-definitions'
    }
  ]
