# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Show Usages'
      'command': 'python-tools:show-usages'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'python-tools'
      'submenu': [
        {
          'label': 'Show Usages'
          'command': 'python-tools:show-usages'
        }
      ]
    ]
  }
]
